In [1]:
import pymysql

In [3]:
# 创建连接
conn = pymysql.connect(
    host='localhost',
    port=3306,
    user='root',
    password='',
    charset='utf8'
)
cursor = conn.cursor()

In [4]:
# 创建数据库
cursor.execute('create database db02 default charset utf8 collate  utf8_general_ci')
conn.commit()

In [5]:
# 进入数据库，查看数据表
cursor.execute('use db02')
cursor.execute('show tables')
print(cursor.fetchall())

()

In [7]:
# 进入数据库创建数据表
cursor.execute('use db02')
sql = """
create table student(
    id int primary key auto_increment,
    name varchar(20),
    age int,
    score float,
    content text,
    ctime datetime
) default charset=utf8;
"""
cursor.execute(sql)
conn.commit()
cursor.execute('show tables')

1

In [8]:
print(cursor.fetchall())

(('student',),)

In [9]:
# 关闭连接
cursor.close()
conn.close()

In [10]:
# 连接数据库，自动执行use db02; --进入数据库
conn = pymysql.connect(host='localhost', port=3306, user='root', passwd='', db='db02')
cursor = conn.cursor()

In [13]:
# 新增
cursor.execute("insert into student values('2','xiaozhang','22','90','xxxc',NOW())")
conn.commit()

In [ ]:
# 删除
cursor.execute("delete from student where id='0'")
conn.commit()

In [14]:
# 修改
cursor.execute("update student set name='xiaoli' where id='1'")
conn.commit()

In [15]:
cursor.execute('select * from student')
print(cursor.fetchall())

((1, 'xiaoli', 12, 90.0, 'abc', datetime.datetime(2024, 4, 30, 13, 27, 43)), (2, 'xiaozhang', 22, 90.0, 'xxxc', datetime.datetime(2024, 4, 30, 13, 35, 3)))

In [16]:
# 关闭连接
cursor.close()
conn.close()